
nav a{
  text-decoration: none;}
nav a:visited{
  color: black;}
a{
  text-decoration: none;}
.nav-top{
  display: flex;
  list-style-type: none;}
.nav-top li{
  padding: 0 0.5%;}
ul{
  padding: 0;}
.nav-bottom,ul li{
  list-style-type: none;}
.nav-bottom li{
  font-size: 10px;}
header,article,footer{
  border: 1px white solid;
  background: darkgray;
  padding: 5px 20px;
  margin: 5px 0px;}
footer p{
  text-align: center;}
.nArticle{
  border: solid white 1px;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 0px 10px;}
  .nArticle p:nth-child(8){
    font-size: 10px;
    text-align: right;}
  .nArticle a{
    text-decoration: none;
    color: black;}
img{
  width: 500px;}
